body {
  font-family: Arial;
  direction: rtl;
  background: #f4f6f8;
  padding: 20px;
}
h1 { text-align: center; }
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.lesson {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}
iframe {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}